/* Common CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
  margin: 0;
}
/* Common CSS End */

/* Navbar Section Start */
/* Navbar Section End */

/* Banner Section Start */
/* Banner Section End */

/* Social Sectiom Start */
/* Social Sectiom End */

/* Tabs Section Start */
/* Tabs Section End */

/* SubList Section Start */
/* SubList Section End */

/* Standard Section Start */
/* Standard Section End */

/* Awesome Section Start */
/* Awesome Section End */

/* Pricing Section Start */
/* Pricing Section End */

/* Review Section Start */
/* Review Section End */

/* Download Section Start */
/* Download Section End */

/* Contact Section Start */
/* Contact Section End */

/* Footer Section Start */
/* Footer Section End */
