/* Common CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
  margin: 0;
}
/* Common CSS End */

/* Navbar Section Start */
.navbar {
	background-color: #000000;
	padding: 20px 0;
}

.nav-link {
	font-family:'Open Sans', sans-serif;;
	color: #b0b0b0;
	margin-right: 15px;
	position: relative;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}

.nav-link::after {
	position: absolute;
	content: '';
	height: 1px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #b0b0b0;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transition: ease-in-out .5s;
	-webkit-transition: ease-in-out .5s;
	-moz-transition: ease-in-out .5s;
	-ms-transition: ease-in-out .5s;
	-o-transition: ease-in-out .5s;
}

.nav-link:hover::after {
	width: 100%;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

.nav-link:hover {
	color: #e7e7e7;
}
/* Navbar Section End */

/* Banner Section Start */
/* Banner Section End */

/* Social Sectiom Start */
/* Social Sectiom End */

/* Tabs Section Start */
/* Tabs Section End */

/* SubList Section Start */
/* SubList Section End */

/* Standard Section Start */
/* Standard Section End */

/* Awesome Section Start */
/* Awesome Section End */

/* Pricing Section Start */
/* Pricing Section End */

/* Review Section Start */
/* Review Section End */

/* Download Section Start */
/* Download Section End */

/* Contact Section Start */
/* Contact Section End */

/* Footer Section Start */
/* Footer Section End */
